.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #70b152;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.menu-bar {
    -fx-background-color: #70b152;
}

.title {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #70b152;
}

.whiteBg {
    -fx-background-color: white;
}

.primaryBtn {
    -fx-background-color: #70b152;
    -fx-text-fill: white;
}